

.ml{
    &-base{
        margin-left:$spacing ;
    }
    &-1{
        margin-left: $spacing*2;
    }
    &-2{
        margin-left: $spacing*2.5;
    }
    &-3{
        margin-left: $spacing*3.75;
    }
    &-8{
        margin-left: $spacing*8;
     }
     @include pc-1024{
         &-md-0{
             margin-left: 0;
         }
         &-md-1{

            margin-left: $spacing*1;
         }
     }
     @include phone-576{
        &-sm-0{
            margin-left: 0;
        }
        &-sm-1{
            margin-left: $spacing*0.5;
        }
        &-sm-2{
            margin-left: $spacing*1.5;
        }
     }
}
.mr{
    &-1{
        margin-right: $spacing*1;
    }
    &-2{
        margin-right: $spacing*3;
    }
    &-3{
        margin-right: $spacing*3.75;
    }
    &-4{
        margin-right: $spacing*4;
    }
    &-6{
        margin-right: $spacing*6;
    }
    @include pc-1024{
        &-md-0{
            margin-right: $spacing*0;
        }
    
        &-md-2{
            margin-right: $spacing*2;
        }
        &-md-3{
            margin-right: $spacing*3;
        }
        &-md-4{
            margin-right: $spacing*3.75;
        }
        &-md-5{
            margin-right: $spacing*5;
        }
    }
    @include phone-576{
        &-sm-0{
            margin-right: 0;
        }
        &-sm-1{
            margin-right: $spacing;
        }
    }
}
.mb{
    &-gap{
        margin-bottom: 4px;
    }

    &-1{
        margin-bottom: $spacing*2;
    }
    &-2{
        margin-bottom: $spacing*2.25;
    }
    &-3{
        margin-bottom:$spacing*3;
    }
    &-4{
        margin-bottom:$spacing*4;
    }
    &-5{
        margin-bottom:$spacing*5;
    }
    &-6{
        margin-bottom:$spacing*7.5;
    }
    &-8{
        margin-bottom: $spacing*8;
    }
    &-9{
       margin-bottom: $spacing*11; 
    }
    &-10{
        margin-bottom: $spacing*13; 
     }
     &-11{
        margin-bottom: $spacing*14; 
     }
     &-12{
        margin-bottom: $spacing*19.5; 
     }
     &-13{
        margin-bottom: $spacing*38; 
     }
    @include pc-1024{
        &-md-0{
            margin-bottom: $spacing*0;
        }
        &-md-1{
            margin-bottom: $spacing*1;
        }
        &-md-2{
            margin-bottom: $spacing*2;
        }
        &-md-2_5{
            margin-bottom: $spacing*2.5;
        }
       &-md-3{
           margin-bottom: $spacing*3 !important;
       }
       &-md-4{
        margin-bottom: $spacing*3.5 !important;
    }
       &-md-5{
        margin-bottom: $spacing*4;
    }
    &-md-6{
        margin-bottom: $spacing*5 !important;
    }
    &-md-9{
        margin-bottom: $spacing*9;
    }
    &-md-13{
        margin-bottom: $spacing*13;
    }
    }
    @include phone-576{
        &-sm-1{
            margin-bottom: $spacing*1;
        }
        &-sm-1_5{
            margin-bottom: $spacing*1.5;
        }
        &-sm-2{
            margin-bottom: $spacing*2;
        }
       &-sm-3{
           margin-bottom: $spacing*2.25;
       }
       &-sm-4{
        margin-bottom: $spacing*2.5;
    }
    &-sm-5{
        margin-bottom: $spacing*3;
    }
       &-sm-6{
        margin-bottom: $spacing*3.75 !important;
    }
    &-sm-7{
        margin-bottom: $spacing*4;
    }
       &-sm-8{
        margin-bottom: $spacing*5;
    }
    &-sm-9{
        margin-bottom: $spacing*7;
    }
    }
}

.pl{
    &-10{
        padding-left: $spacing*13;
    }
    @include pc-1024{
        &-md-8{
            padding-left: $spacing*7.5;
        }
    }
    @include phone-576{
        &-sm-0{
            padding-left: 0;
        }
    }
}

.pt{
    &-8{
        padding-top: $spacing*8;
    }
    @include pc-1024{
        &-md-5{
            padding-top: $spacing*5;
        }
      
    }
}
.pb{
    &-8{
        padding-bottom: $spacing*8;
    }
    &-10{
        padding-bottom: $spacing*10;
    }
}
.py{
    &-8{
        padding-top: $spacing*8;
        padding-bottom: $spacing*8;
    }
    @include pc-1024{
        &-md-5{
            padding-top: $spacing*5;
            padding-bottom: $spacing*5;
        }
      
    }
    @include phone-576{
        &-sm-4{
            padding-top: $spacing*4;
            padding-bottom: $spacing*4;
        }
    }
}