$primary-color: #aa0601;
$secondary-color:#650300;
$light-color: #fbf2f2;
$font-color: #000000;
$light-border-color:#fff;
$dark-border-color:#DEE2E6;
$light-border:1px solid $light-border-color;
$dark-border:1px solid $dark-border-color;
$spacing : 8px;


$base-font-size: 16px ;
$en-font-family: 'Roboto',sans-serif;
$tc-font-family: 'Noto Sans', sans-serif;