.form{
    width: 730px;
    margin: 0 auto;
    @include pc-1024{
        width: 600px;
    }
    @include pad-768{
        width: 450px;
    }
    @include phone-576{
        width: 320px;
    }
    @media (max-width:320px){
        width: 275px;
    }
}

.foreword__text{
    font-size: 20px;
    margin-bottom: 20px;
    @include pc-1024{
        font-size: 16px;
        margin-bottom: 12px;
    }
    @include phone-576{
        margin-bottom: 8px;
    }
}
.form__group{
    margin-bottom: 16px;
    @include pad-768{
        margin-bottom: 8px;
    }
}
.form__checkbox--agree{
    margin-bottom: 42px;
    @include pad-768{
        display: inline-flex;
        margin-bottom: 20px;
    }
    @include phone-576{
        margin-bottom: 24px;
    }
}
input,textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    border:1px solid #000;
    padding: 14px 16px;
    @include pad-768{
        padding: 8px 12px;
    }
}
input[type="checkbox"]{
  display: unset;
  width: auto;
  
}
label{
    display: inline-block;
    margin-bottom: 4px;
    @include pad-768{
        font-size: 14px;
        margin-bottom: 2px;
    }
}
.agree__label{
    margin-bottom: 0;
}
::placeholder {
	opacity: 0.2;
    font-size: 16px;
    @include pad-768{
        font-size: 14px;
    }
  }
input:focus::placeholder,textarea:focus::placeholder {
	color: transparent;
  }
  input:focus,textarea:focus{
      outline-color:$primary-color;
      box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  }
  .submit{
      @include size(350px,54px);
      display: block;
      margin: 0 auto;
      padding: 0;
      background-color: $primary-color;
      border:0;
      color:#fff;
      font-size: 16px;
      @include link-hover{
          background-color: $secondary-color;
      }
      @include pad-768{
          @include size(210px,36px);
          font-size: 14px;
      }
      @include phone-576{
          @include size(165px,36px);
      }
  }