.location__item{
    width: calc((100% - 60px)/3);
    @include pc-1024{
        width:  calc((100% - 30px)/2);
    }
    @include phone-576{
        width: 100%;
    }
}
.location__innerpage{
    .location__item{
        width: 40%;
        @include pc-1024{
            width: 100%;
        }
    }
    .location__img{
        @include pc-1024{
            width: 50%;
            margin-right: 30px;
        }
        @include phone-576{
            width: 100%;
        }
       
    }
    .location__infro{
        @include pc-1024{
            width: 50%;
           
        }
        @include phone-576{
            width: 100%;
        }
    }
}
.location_title{
    font-size: 24px;
    padding: 12px 24px;
    border:$dark-border;
    @include pad-768{
        font-size: 16px;
        padding: 8px 16px;
    }
}
.location__detail{
    border:$dark-border;
    padding: 16px 24px;
    @include pad-768{
        padding: 16px;
    
    }
    li{
        display: inline-flex;
       font-size: 20px;
       width: 100%;
        img{
            @include size(21px);
            margin-right: 12px;
            margin-top: 5px;
            @include pad-768{
                margin-top: 0px;
                margin-right: 16px;
                
            }
        }
        &:not(:last-child){
            margin-bottom: 8px;
        }
        @include pad-768{
            font-size: 14px;
            
        }
    }
  
}
.location__button{
    background-color: #000;
    text-align: center;
    color:#fff;
    padding: 20px 0;
    font-size: 20px;
    @include link-hover{
        background-color: $primary-color;
        box-shadow:inset 0px 0px 15px rgba(0,0,0,0.5);
    }
    @include pad-768{
        padding: 16px 0;
        font-size: 14px;
    }
}