.product__item{
    width: calc((100% - 90px)/4);
    @include pc-1024{
        width:calc((100% - 30px)/2);;
    }
    @include phone-576{
        width: 100%;
    }
}
.product__item--large{
    width: calc((100% - 60px)/3);
    @include pc-1024{
        width:calc((100% - 30px)/2);
    }
    @include phone-576{
        width: 100%;
    }
}
.product__img{
    img{
        width:100%;
    }
}
.product__detail{
    display: flex;
    justify-content: space-between;
}
.product__name{
    font-size: 24px;
    font-family: $en-font-family;
    text-transform: uppercase;
    @include phone-576{
       font-size: 16px;
    }
}
.product__price{
    font-size: 24px;
    font-family: $en-font-family;
    font-weight: 500;
    color:$primary-color;
    @include phone-576{
        font-size: 16px;
     }
}
.product__color{
    display: flex;
    li{
        @include size(24px);
        border-radius: 4px;
        margin-right: 8px;
        &:first-child{
            background-color: #5F3E2D;
        }
        &:nth-child(2){
            background-color: #B75929;
        }
        @include phone-576{
            @include size(16px);
            margin-right: 4px;
         }
    }
}

.product__item--large{
    .product__detail{
        display: block;
        @include pc-1024{
          display: flex;
        }
    }
    .product__name{
        font-size: 18px;
        margin-bottom: 8px;
        @include pc-1024{
         font-size: 24px;
         margin-bottom: 0;
          }
          @include phone-576{
            font-size: 16px;
         }
    }
    .product__price{
        font-size: 18px;
     
        margin-bottom: 10px;
        @include pc-1024{
            font-size: 24px;
            margin-bottom: 0;
             }
             @include phone-576{
                font-size: 16px;
             }
    }
    .product__color{
      
        li{
            @include size(20px);
            @include pc-1024{
                @include size(24px);
        }
        @include phone-576{
            @include size(16px);
            margin-right: 4px;
         }
    }
}
}