
.rec__item{
    @include pc-1024{
        width: calc((100% - 30px)/2);
        img{
            width: 100%;
        }
    }
    @include phone-576{
        width: 100%;
    }
}

.rec__item-text{
    border:$dark-border;
    padding: 14px 16px;
    p{
        font-family: $en-font-family;
    }
    @include pc-1024{
        padding: 16px;
    }
}
.rec__name{
    font-size: 14px;
    font-weight: 500 ;
    margin-bottom: 8px;
    @include pc-1024{
       margin-bottom: 16px;
    }
}
.rec__content{
    margin-bottom: 10px;
    @include pc-1024{
        margin-bottom: 16px;
     }
}
.rec__time{
    font-size: 14px;
    color:#707070;
}

