.footer{
    padding: 36px 0 30px 0;
    a{
        color:#fff;
        @include link-hover{
            opacity: 0.7;
        }
    }
  @include pc-1024{
      padding: 40px 0;
  }
  @include phone-576{
    padding: 24px 0;
}
}
.footer__infro{
    border-bottom:1px solid #fff;
}
.footer__infro > a{
    img{
        margin-right: 12px;
        @include pc-1024{
            @include size(24px)
        }
        @include phone-576{
            @include size(20px);
            margin-right: 4px;
        }
    }
}
.footer__nav{
    margin-bottom: 18px;
    @include pc-1024{
        margin-bottom: 22px;
    }
    @include pad-650{
        flex-direction: column;
        align-items: start;
        .footer__list{
            margin-bottom: 12px;
        }
    }
    @include phone-576{
        float: right;
    }
}
.footer__list{
    @include pad-650{
        margin-bottom: 12px;
    }
    @include phone-576{
         display:none
    }
}
.share__btn{
    img{
        @include pad-768{
            @include size(24px)
        }
    }
}
.copyright{
    position: relative;
}
.copyright__infro{
    
    img{
        margin-right: 38px;
        @include pc-1024{
           display: none;
        }
        @include phone-576{
            @include size(46px,28px);
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0;
        }
    }
}
.privacy__list{
    li{
        &:first-child{
            margin-right: 62px;
            @include pc-1024{
                margin-right: 24px;
            }
        }
    }
}