.blog__nav{

    a{
        padding: 12px 24px 14px ;
        @include link-hover{
            background-color: $primary-color;
        }
        @include pc-1024{
            padding: 16px;
        }
        @include phone-576{
            padding: 16px 4px;
        }

        @media (max-width:320px){
            font-size: 14px !important;
        }
    }
   
}
.blog{
    @include phone-576{
        margin-top: 24px;
    }
}
.post-item{
    position: relative;
    @include pc-1024{
        margin-bottom: 142px;
    }
    @include phone-576{
        margin-bottom: 0;
    }
}
.post-item__content{
    width: 75%;
   @include phone-576{
       width: 100%;
   }
}
.tag{
    width: 25%;
    @include phone-576{
        width: 100%;
    }
}

.post-item__entitle{
    font-size: 28px;
}
.post-item__date{
    color: #6C6C6C;
}
.post-item__img{
    img{
        width: 100%;
    }
}
.post-item__text{
    opacity: 0.6;
    margin-bottom: 36px;
    &--last{
        margin-bottom: 50px;
        opacity: 0.6;
    }
}
.share{
   
    p{
        margin-right: 20px;
        @include pc-1024{
            margin-right: 16px;
        }
    }
    li{
        margin-right: 16px;
        @include pc-1024{
            @include size(20px)
        }
    }
    a{
        @include link-hover{
            opacity: 0.5;
        }
    }
}
.post__control{
    padding-top: 24px;
    border-top:1px solid #707070;
    a{
        @include link-hover{
            color:$secondary-color;
        }
    }
    img{
        @include pc-1024{
            @include size(20px,18px)
        }
    }
    @include pc-1024{
        padding-top: 16px;
        position: absolute;
        width: 100%;
    }
    @include phone-576{
        padding-top: 8px;
        position: relative;
    }
}
.tag__title{
    h4{
        font-size: 28px;
    }
    @include pc-1024{
        margin-bottom: 6px;
        img{
            @include size(24px);
        }
    }
    @include phone-576{
        margin-bottom: 10px;
    }
}
.tag__list,.post-item__tag{
    a{
        @include link-hover{
            color:$secondary-color;
        }
    }
}