.series__nav{
    max-width: 1386px;
    margin: 0 auto;
}
.series__list-item{
    width: 33.3333%;
    border:$dark-border;

    a{
        padding: 24px 0;
        position: relative;
        
        &::after{
            content: '';
            @include size(0,16px);
            transition: all 0.5s;
            background-color: $primary-color;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &:hover{
            &::after{
                width: 100%;
            }
        }
        @include pc-1024{
            padding: 16px;
            &::after{
                height: 8px;
            }
        }
        @include pad-650{
            font-size: 20px;
        }
        @include phone-576{
            padding: 10px 0;
            &::after{
                height: 4px;
            }
        }
    }
    a.active{
        &::after{
            width: 100%;
        }
    }
    img{
        @include size(48px);
        @include pc-1024{
            @include size(32px)
        }
        @include phone-576{
            @include size(16px)
        }
        @media (max-width: 320px) {
            display: none;
        }
    }
}

.optical_banner{
    li{
        height: 309px;
        &:first-child{
            background: url(../images/banner-1.png) no-repeat center;
            background-size: cover;
        }
        &:nth-child(2){
            background: url(../images/banner-2.png) no-repeat center;
            background-size: cover;
        }
        @include phone-576{
            height: 144px;
        }
    }
}
.sun_banner{
    li{
        height: 309px;
        &:first-child{
            background: url(../images/banner-3.png) no-repeat center;
            background-size: cover;
        }
        &:nth-child(2){
            background: url(../images/product-2-color.png) no-repeat center;
            background-size: cover;
        }
        @include phone-576{
            height: 144px;
        }
    }
}